! special
*.foreground:   #e4dcf5
*.background:   #1a1a1d
*.cursorColor:  #e4dcf5

! black
*.color0:       #1a1a1d
*.color8:       #292630

! red
*.color1:       #712828
*.color9:       #de5356

! green
*.color2:       #5f7136
*.color10:      #8ba454

! yellow
*.color3:       #89723d
*.color11:      #f4b255

! blue
*.color4:       #537482
*.color12:      #5c9bb5

! magenta
*.color5:       #694662
*.color13:      #b871a9

! cyan
*.color6:       #5a706c
*.color14:      #88c1b7

! white
*.color7:       #afacb5
*.color15:      #e4dcf5

st.font: Jetbrains Mono:style=Regular:size=10
st.boldFont: Jetbrains Mono:style=Bold:size=10
st.italicFont: Jetbrains Mono:style=Italic:size=10
st.boldItalicFont: Jetbrains Mono:style=Bold Italic:size=10

*.font: xft:Jetbrains Mono:style=Regular:size=10
*.boldFont: xft:Jetbrains Mono:style=Bold:size=10
*.italicFont: xft:Jetbrains Mono:style=Italic:size=10
*.boldItalicFont: xft:Jetbrains Mono:style=Bold Italic:size=10

URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: librewolf
URxvt.underlineURLs: true
URxvt.urlButton: 1

URxvt.scrollBar: false

URxvt.iso14755: false
URxvt.iso14755_52: false

st.alpha: 0.9
st.alphaOffset: 0.3
