! special
*.foreground:   #d3dbe8
*.background:   #2b2d37
*.cursorColor:  #d3dbe8

! black
*.color0:       #2b2d37
*.color8:       #3d4052

! red
*.color1:       #944348
*.color9:       #ec7279

! green
*.color2:       #719654
*.color10:      #a0c980

! yellow
*.color3:       #aa833a
*.color11:      #deb974

! blue
*.color4:       #3c7aa6
*.color12:      #6cb6eb

! magenta
*.color5:       #7f4c8f
*.color13:      #d38aea

! cyan
*.color6:       #448d92
*.color14:      #5dbbc1

! white
*.color7:       #9aa1aa
*.color15:      #d0d9e5

*.font: xft:Jetbrains Mono:style=Regular:size=10
*.boldFont: xft:Jetbrains Mono:style=Bold:size=10
*.italicFont: xft:Jetbrains Mono:style=Italic:size=10
*.boldItalicFont: xft:Jetbrains Mono:style=Bold Italic:size=10

URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: librewolf
URxvt.underlineURLs: true
URxvt.urlButton: 1

URxvt.scrollBar: false

URxvt.iso14755: false
URxvt.iso14755_52: false
